.home-page {
    width: 100%;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.2);
}

/* SECTIONS */

.top-section, .bottom-section {
    display: flex;
}

.top-section {
    display: none;    
    animation: fadeIn .7s linear;
}

@keyframes fadeIn {
    from {opacity: .4;}
    to {opacity: 1;}
}

.top-section .main-img {
    width: 58.3%;    
}

.top-section .main-img img{
/*     content: url("../assets/desktop-image-hero-1.jpg");
 */    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.top-section .resume{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-section .resume .resume-content {
    max-width: 415px;
    width: 100%;
}

.resume-content h2 {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--Black);
    margin-bottom: 2rem;
}

.text {
    color: var(--Dark-Gray);
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 2rem;
}

.resume-content button {
    border: none;
    background-color: transparent;
    letter-spacing: 10px;
    font-weight: 500;
}

.resume-content button img {
    margin-left: 1rem;
}
.resume-content button:hover {
    opacity: .5;
}

.top-section .resume .slider-actions {
    position: absolute;
    display: flex;
    width: 27%;
    bottom: 0;
    left: 0;
}

.top-section .resume .slider-actions button {
    background-color: var(--Black);
    width: 100%;
    height: 80px;
}

.top-section .resume .slider-actions button:hover {
    opacity: .7;
}


/* SECTIONS BOTTOM SECTION */

.bottom-section img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.bottom-section .about-img-1 {
    width: 29.2%;
}

.bottom-section .about-img-2 {
    width: 30.4%;
}

.bottom-section .about-img-1 img{
    content: url("../../assets/image-about-dark.jpg");
}

.bottom-section .about-img-2 img{
    content: url("../../assets/image-about-light.jpg");
}


.bottom-section .about{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.bottom-section .about .about-content {    
    max-width: 420px;
    width: 100%;
}

.bottom-section .about .about-content .text {
    margin: 0;
}

.bottom-section .about h3 {
    font-size: 1rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.show {
    display: block;
}

.current-slide{
    display: flex;
}

/* MEDIA QUERIES */

@media (max-width: 1025px){

    .logo {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .top-section, .bottom-section {
        flex-direction: column;
    }

    .resume-content h2 {
        font-size: 2.5rem;
    }

    .top-section .main-img img{
        content: url("../../assets/mobile-image-hero-1.jpg");
    }

    .bottom-section .about-img-1,
    .bottom-section .about-img-2,
    .top-section .main-img {
        width: 100%;
    }

    .top-section .resume .slider-actions {
        bottom: 100%;
        left: auto;
        right: 0;
    }
    
    .top-section .resume .slider-actions button {
        height: 60px;
    }

    .top-section .resume .resume-content, .bottom-section .about .about-content{
        padding: 4rem 2rem;
    }
    
}